*{
    margin: 0;
    padding: 0;
}
body{
    background-color: aquamarine;
}
.main h1{
    text-align: center;
    margin-top: 10px;
}
.size{
    border-radius: 5px;
    border: 2px solid gray;
    height: 520px;
    width: 400px;
    margin-left: 560px;
    margin-top: 20px;
    background-color: white;
}
.firstname{
    width: 250px;
    height: 25px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 25px;
    border: 1px solid black;
}
.lastname{
    width: 250px;
    height: 25px;
    border-radius: 10px;
    margin-top: 15px;
    margin-left: 27px;
    border: 1px solid black;
}
.username{
    width: 250px;
    height: 25px;
    border-radius: 10px;
    margin-top: 15px;
    margin-left: 25px;
    border: 1px solid black;
}
.email{
    width: 250px;
    height: 25px;
    border-radius: 10px;
    margin-top: 15px;
    margin-left: 59px;
    border: 1px solid black;
}
.password{
    width: 250px;
    height: 25px;
    border-radius: 10px;
    margin-top: 15px;
    margin-left: 32px;
    border: 1px solid black;
}
.gender{
    margin-top: 15px;
}
.hobbies{
    margin-top: 15px;
}
.city{
    width: 250px;
    height: 25px;
    border-radius: 10px;
    margin-top: 15px;
    margin-left: 65px;
    border: 1px solid black;
}
.country{
    width: 250px;
    height: 25px;
    border-radius: 10px;
    margin-top: 15px;
    margin-left: 36px;
    border: 1px solid black;
}
.car{
    width: 250px;
    height: 25px;
    border-radius: 10px;
    margin-top: 15px;
    margin-left: 23px;
    border: 1px solid black;
}
.message{
    width: 250px;
    height: 25px;
    overflow-y: scroll;
    resize: none;
    border-radius: 10px;
    margin-top: 15px;
    margin-left: 25px;
    border: 1px solid black;
}
.button{
    width: 100px;
    height: 30px;
    text-align: center;
    margin-top: 20px;
    border-radius: 10px;
    background-color: lightblue;
    color: white;
    margin-left: 90px;
}
.button1{
    width: 100px;
    height: 30px;
    text-align: center;
    border-radius: 10px;
    background-color: lightblue;
    color: white;
}